<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <marquee behavior="" direction="">Sale || Sale || Sale</marquee>

        <h1>this is a heading</h1>
        <h2>this is a heading</h2>
        <h3>this is a heading</h3>
        <h4>this is a heading</h4>
        <h5>this is a heading</h5>
        <h6>this is a heading</h6>

        <p>Lorem <sub>ipsum</sub> dolor sit amet consectetur adipisicing elit. Impedit nesciunt ea facere vitae cumque explicabo repellat quis consectetur nam. Quos accusamus quas odit eveniet doloribus. Consequuntur ipsa accusamus similique explicabo fugiat non! Officia iste dolorum eos, saepe amet rem est quaerat quisquam sequi eum, iure cupiditate. Sapiente blanditiis cumque omnis aperiam ipsum veritatis esse dicta optio laboriosam voluptatem inventore dolorum, maiores, nihil, consequuntur ipsam? Sed, nulla molestias molestiae nobis nesciunt nam vitae provident quos. Eligendi quidem maxime magni! Animi nemo nostrum voluptates tenetur suscipit sequi sapiente, voluptatibus enim, et corrupti eaque placeat sunt aut iste voluptate corporis iure, recusandae nisi.</p>

        <pre>
            Address : 102, puna junction, surat
            Mobile : 0909090909
        </pre>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGsOfcTf2FZDj2eBCE3f61TxRixxchWL6q2hBaXRw4fRMSxg28d3mnEEgvgwoowrypiAI&usqp=CAU" alt="logo">

        <table border="2">
            <thead>
                <th>No</th>
                <th>Name</th>
                <th>Department</th>
                <th>Salary</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>brijesh</td>
                    <td rowspan="5">It</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>brijesh</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>brijesh</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>brijesh</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>brijesh</td>
                    <td>100</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total amount</td>
                    <td>500</td>
                </tr>
            </tfoot>
        </table>

        <ol type="I">
            <li>products</li>
            <li>products</li>
            <li>products</li>
            <li>products</li>
            <li>products</li>
        </ol>

        <ul style="list-style-type: square ;">
            <li>products</li>
            <li>products</li>
            <li>products</li>
            <li>products</li>
            <li>products</li>
        </ul>
    </header>
</body>
</html>