{% extends 'base.html' %}

{% block title %}
    News
{% endblock %}

{% block body %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      {% for new in news %}
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">{{new.category}}</h3>
          <a href="{{new.url}}" class="text-lg text-gray-900 font-medium title-font mb-4">{{new.name}}</a> - [{{new.language}} - {{new.country}}]
          <p class="leading-relaxed text-base">{{new.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}